mixin education()
  .education#education
    .container
      .education__wrapper
        .education__heading.heading Образование
        ul.education__list
          li.education__item
            p
              span.education__type Учебное заведение:&ensp;
              a.education__link(href="https://www.gup.ru/", target="_blank", rel="nofollow noopener noreferrer") СПбГУП
            p
              span.education__type Тип:
              span  высшее образование
            p
              span.education__type Период обучения:
              span  с 09.2005 по 06.2010
            p
              span.education__type Квалификация:
              span  Экономист-менеджер

          li.education__item
            p
              span.education__type Учебное заведение:&ensp;
              a.education__link(href="https://www.gup.ru/education/specs/translator/", target="_blank", rel="nofollow noopener noreferrer") СПбГУП
            p
              span.education__type Тип:
              span  дополнительное к высшему образование
            p
              span.education__type Период обучения:
              span  с 09.2005 по 06.2010
            p
              span.education__type Квалификация:
              span  Переводчик в сфере профессиональной коммуникации (английский&nbsp;язык)
          li.education__item
            p
              span.education__type Учебное заведение:&ensp;
              a.education__link(href="https://htmlacademy.ru/profession/frontender", target="_blank", rel="nofollow noopener noreferrer") HTML Academy
            p
              span.education__type Тип:
              span  интерактивные курсы
            p
              span.education__type Период обучения:
              span  с 09.2020 по 08.2021
            p
              span.education__type Профессия:
              span  Фронтенд-разработчик
          li.education__item
            p
              span.education__type Учебное заведение:&ensp;
              a.education__link(href="https://edu-school.spb.ru/", target="_blank", rel="nofollow noopener noreferrer") Санкт-Петербургская школа бизнеса
            p
              span.education__type Тип:
              span  профессиональная переподготовка
            p
              span.education__type Период обучения:
              span  с 02.2013 по 05.2013
            p
              span.education__type Специальность:
              span  Информационные технологии (компьютерный&nbsp;дизайн)
