mixin experience()
  .experience#experience
    .container
      .experience__wrapper
        h2.experience__heading.heading Опыт работы

        ul.experience__jobs-list
          li.experience__item
            p.experience__company
              a.experience__company-link(href="https://ligaa.agency/", target="_blank", rel="nofollow noopener noreferrer")
                span Фронтенд аутсорс "Лига&nbsp;А"
                  +icon("icon-triangle", 10, 10)
            p.experience__period с 09.2021 по 12.2021 (3&nbsp;мес.)
            p.experience__position <span>Должность:</span> стажер фронтенд-разработчик
            p.experience__duties <span>Основные обязанности:</span>
              ul.experience__list
                li верстка веб-страниц проектов по макетам в Figma по определенным критериям (pixel perfect, адаптивно, кроссбраузерно и пр.)
                li исправление багов
            p.experience__software <span>Программы:</span>
              ul.experience__list
                li VS Code
                li Figma
                li Chrome DevTools
            p.experience__tools <span>Вспомогательные инструменты:</span>
              ul.experience__list
                li Github
                li Pug
                li Sass, Less
                li БЭМ и др.

          li.experience__item
            p.experience__company
              a.experience__company-link(href="https://v1.spb.ru/copycenter/", target="_blank", rel="nofollow noopener noreferrer")
                span Копировальный центр "Восстания&nbsp;1"
                  +icon("icon-triangle", 10, 10)
            p.experience__period с 06.2014 по 06.2020 (6&nbsp;лет)
            p.experience__position <span>Должность:</span> специалист по обработке изображений
            p.experience__duties <span>Основные обязанности:</span>
              ul.experience__list
                li прием, расчет и выполнение заказов
                li верстка, редактирование и подготовка макетов к печати
                li консультирование клиентов по услугам копировального центра
            p.experience__software <span>Программы:</span>
              ul.experience__list
                li наиболее часто используемые
                  ul.experience__sublist
                    li CorelDraw
                    li Adobe Photoshop
                    li Adobe Acrobat + Quite Imposing Plus
                    li MS Word
                    li MS Excel
                li редко используемые
                  ul.experience__sublist
                    li Adobe Illustrator
                    li Adobe Indesign
                    li MS Powerpoint и др.

          li.experience__item
            p.experience__company
              a.experience__company-link(href="https://www.svyaznoy.ru/", target="_blank", rel="nofollow noopener noreferrer")
                span ЗАО "Связной Логистика"
                  +icon("icon-triangle", 10, 10)
            p.experience__period с 05.2013 по 07.2013 (2&nbsp;мес.)
            p.experience__position <span>Должность:</span> менеджер по финансовым услугам
            p.experience__duties <span>Основные обязанности:</span>
              ul.experience__list
                li оформление различных видов кредитов
                li работа за кассой, выполнение денежных переводов
                li помощь в реализации товаров на торговой точке и др.

          li.experience__item
            p.experience__company
              a.experience__company-link(href="https://www.cds.spb.ru/company/", target="_blank", rel="nofollow noopener noreferrer")
                span ООО "ЛСУ" (ГК "ЦДС")
                  +icon("icon-triangle", 10, 10)
            p.experience__period с 02.2013 по 04.2013 (2&nbsp;мес.)
            p.experience__position <span>Должность:</span> бухгалтер
            p.experience__duties <span>Основные обязанности:</span>
              ul.experience__list
                li работа с первичной документацией
                li разнесение банковских выписок в 1С:Бухгалтерия
                li выполнение поручений главного бухгалтера
            p.experience__software <span>Программы:</span> MS Word, MS Excel, 1С:Бухгалтерия

          li.experience__item
            p.experience__company
              a.experience__company-link(href="http://cfkis.spb.ru/index.php?page=main", target="_blank", rel="nofollow noopener noreferrer")
                span ГДЮЦФКиС (Городской детско-юношеский центр физической культуры и спорта)
                  +icon("icon-triangle", 10, 10)
            p.experience__period с 09.2010 по 10.2012 (2&nbsp;года и 1&nbsp;мес.)
            p.experience__position <span>Должность:</span> бухгалтер, экономист
            p.experience__duties <span>Основные обязанности:</span>
              ul.experience__list
                li оформление гражданско-правовых договоров
                li оформление заявок на выпуск зарплатных банковских карт в Банке "Санкт-Петербург"
                li выполнение поручений гл.бухгалтера и гл.экономиста
                li работа с первичной документацией
                li разнесение банковских выписок в программу учета Парус и др.
            p.experience__software <span>Программы:</span> MS Word, MS Excel, Парус
