mixin intro()
  .intro#aboutme
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      .intro__wrapper

        .intro__photo
          +img("content", "my-photo", "jpg", 200, 200, "Моё фото")
          p Привет, я Оля!

        .intro__content
          h2.intro__heading.heading Обо мне

          ul.intro__list
            li.intro__item
              span
                span ФИО:
              span Петрова Ольга Александровна
            li.intro__item
              span
                span Дата рождения:
              span 22.01.1988 (34 года)
            li.intro__item
              span
                span Родной город:
              span Санкт-Петербург
            li.intro__item
              span
                span Навыки:
              span CorelDRAW, Adobe Photoshop, MS Word, MS Excel, Figma, HTML, CSS, Git, быстрый набор текста, знание английского языка
            li.intro__item
              span
                span Личные качества:
              span внимательность, ответственность, грамотность, организованность, умение работать в команде, честность, обучаемость, исполнительность
            li.intro__item
              span
                span Интересы:
              span полиграфия, сувенирная продукция, дизайн, вёрстка макетов, вёрстка сайтов, работа с графикой и изображениями, наполнение контентом, менеджмент, работа с документами
            li.intro__item
              span
                span E-mail:
              span good-friday@mail.ru
            li.intro__item
              span
                span Телефон:
              span +7 (981) 758-05-78
                +icon("icon-whatsapp", 18, 18)
                +icon("icon-telegram", 18, 18)
            li.intro__item
          a.intro__cv(href="data/Olga_Petrova_cv.pdf", target="_blank", rel="nofollow noopener noreferrer")
            svg(width="15" height="15" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
              path(d="M17.2234 12.746V17.3147H2.77665V12.746H0V18.6576C0 19.3989 0.620711 20 1.39039 20H18.6096C19.3786 20 20 19.3995 20 18.6576V12.746H17.2234Z")
              path(class="arrow" d="M9.74598 12.293L5.77067 7.64628C5.77067 7.64628 5.16582 7.09387 5.82171 7.09387C6.47759 7.09387 8.06179 7.09387 8.06179 7.09387C8.06179 7.09387 8.06179 6.72227 8.06179 6.14918C8.06179 4.51531 8.06179 1.5418 8.06179 0.329575C8.06179 0.329575 7.97282 0 8.48594 0C9.0032 0 11.2688 0 11.6391 0C12.0088 0 12.0005 0.277537 12.0005 0.277537C12.0005 1.45307 12.0005 4.52932 12.0005 6.10982C12.0005 6.62219 12.0005 6.95444 12.0005 6.95444C12.0005 6.95444 13.2709 6.95444 14.0682 6.95444C14.8641 6.95444 14.2648 7.53286 14.2648 7.53286C14.2648 7.53286 10.8826 11.876 10.4108 12.3317C10.0715 12.662 9.74598 12.293 9.74598 12.293Z")
            span Скачать резюме

      p.intro__text.
        В настоящее время я ищу работу и надеюсь, что работа тоже ищет меня!

      .intro__text
        span Основной опыт работы в <a href="https://v1.spb.ru/copycenter/", target="_blank", rel="nofollow noopener noreferrer">Копицентре «Восстания 1»</a>, где я успела поработать в трех разных отделах:
        ul.intro__text-list
          li малоформатная печать: печать до формата SRA3 (флаеры, визитки, буклеты и пр.), печать и плоттерная резка наклеек,
          li.
            широкоформатная печать: печать баннеров, плакатов и других видов широкоформатной
            продукции на различных материалах (баннерная ткань, бумага различной фактуры и плотности, backlit и пр.),
            печать инженерной графики и многие другие услуги,
          li.
            заказы через Интернет: по почте и через систему диалога с оператором (комбинированно малоформатная
            и широкоформатная продукция).
      p.intro__text.
        Во время работы необходимо было вести заказы от и до: консультировать клиентов об ассортименте и
        стоимости услуг, рассчитывать заказы по прайсу, принимать оплату (наличными и через терминал), подготавливать
        макеты к печати, выполнять заказы (кроме послепечатной обработки). Таким образом, можно сказать, что я выполняла обязанности
        менеджера по работе с клиентами, оператора печати, дизайнера-верстальщика и кассира.
      p.intro__text.
        После работы в Копицентре решила попробовать себя в веб-разработке. Прошла обучение по профессии
        «Фронтенд-разработчик», в течение которого успешно защитила все свои учебные выпускные проекты.
        Далее прошла трехмесячную стажировку в агентстве <a href="https://ligaa.agency/", target="_blank", rel="nofollow noopener noreferrer">«Лига А»</a>, по итогу которой поняла, что мне нравится HTML-вёрстка,
        но JS-разработка и программирование это не совсем моё.
      p.intro__text.
        Полноценным дизайнером не работала, в основном занималась технической вёрсткой
        и подготовкой макетов к печати, поэтому, к сожалению, не могу назвать себя креативным дизайнером,
        но люблю работать в графических редакторах.
      p.intro__text.
        В прошлом есть небольшой опыт работы в бухгалтерии.
      p.intro__text.
        Готова обучаться новому, изучать новые для себя программы и инструменты.
