mixin qa()
  -
    const questions = [
      {
        q: "Какой предпочитаю график работы?",
        a: "Очень удобен сменный график работы 2/2/3 либо 2/2, но также рассматриваю варианты с графиком 5/2."
      },
      {
        q: "Офис или удалённая работа?",
        a: "Желательна работа в офисе. Если будет возможность работать частично удалённо, будет хорошо, ПК для выполнения работы дома имеется."
      },
      {
        q: "Уровень владения английским языком",
        a: "Между B2 Upper-Intermediate и С1 Advanced. В 2011 году проходила кратковременное обучение в Ирландии в Дублинской школе английского языка, где по итогу тестирования меня определили в группу с уровнем C1. Но без регулярной практики считаю, что реальный уровень пониже, скорее всего уверенный B2.",
        cert: true
      },
      {
        q: "Скорость печати на клавиатуре",
        a: "Средняя скорость печати обычных текстов на русском и на английском - около 500 зн/мин.",
        type: true
      },
      {
        q: "Работаю ли я сейчас?",
        a: "Нет, на данный момент не работаю. Нахожусь в активном поиске работы, поэтому готова буду приступить к работе в ближайшее время."
      },
      {
        q: "На какой уровень заработной платы я рассчитываю?",
        a: "Желательна зарплата от 60 тыс.руб. Осознаю, что на время испытательного срока или в период обучения размер оплаты может быть меньше."
      },
      {
        q: "Какие, на мой взгляд, у меня сильные стороны?",
        a: "Я ответственно и внимательно стараюсь подходить к выполнению своих рабочих обязанностей. Не люблю делать работу кое-как, также не испытываю удовольствия, когда подвожу других людей (коллег или клиентов), выполняя посредственно свою работу. Стараюсь вникнуть во все детали и ничего не упустить. Таким образом стараюсь делать свою работу хорошо в пределах своих возможностей."
      },
      {
        q: "Что для меня является мотивацией в работе?",
        a: "Достойная заработная плата, интересная работа, перспектива развития и надежный дружный коллектив."
      },
    ]
  .qa#qa
    .container
      .qa__wrapper
        h2.qa__heading.heading.visually-hidden Вопрос - Ответ
        ul.qa__list(data-accordion="parent")
          each item in questions
            li.qa__item(data-accordion="element")
              button.qa__question(data-accordion="button")
                span= item.q
                +icon("icon-down", 10, 12)
              .qa__answer(data-accordion="content")
                p= item.a
                  if (item.type)
                    a.qa__certificate(href="data/ratatype-rus.jpg", target="_blank", rel="nofollow noopener noreferrer") Ratatype Certificate rus
                    a.qa__certificate(href="data/ratatype-eng.jpg", target="_blank", rel="nofollow noopener noreferrer") Ratatype Certificate eng
                  if (item.cert)
                    a.qa__certificate(href="data/dse-certificate.jpg", target="_blank", rel="nofollow noopener noreferrer") DSE Certificate
