// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Nunito";

  font-display: swap;
  src:
    url("../fonts/nunito-light.woff2") format("woff2"),
    url("../fonts/nunito-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Nunito";

  font-display: swap;
  src:
    url("../fonts/nunito-regular.woff2") format("woff2"),
    url("../fonts/nunito-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Nunito";

  font-display: swap;
  src:
    url("../fonts/nunito-semibold.woff2") format("woff2"),
    url("../fonts/nunito-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Nunito";

  font-display: swap;
  src:
    url("../fonts/nunito-bold.woff2") format("woff2"),
    url("../fonts/nunito-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Nunito";

  font-display: swap;
  src:
    url("../fonts/nunito-extrabold.woff2") format("woff2"),
    url("../fonts/nunito-extrabold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";

  font-display: swap;
  src:
    url("../fonts/roboto-bold.woff2") format("woff2"),
    url("../fonts/roboto-bold.woff") format("woff");
}
